body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background: #f7f7f7;
    color: #333;
  }
  
 
  header {
    background: #333;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
    background-image: url("BG.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center; 
  }
  
  header h1 {
    margin: 0;
    font-size: 2.5rem;
  }
  

  nav {
    background: #4a5c65;
    padding: 10px;
    text-align: center;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  
  .container {
    padding: 20px;
    max-width: 1000px;
    margin: auto;
  }
  
  
  section {
    margin-bottom: 30px;
  }
  
  h2 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 15px;
  }
  
  
  .project {
    background: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
  }
  
  .project:hover {
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  }
  
  .grid{
    display: flex;
      flex-direction: column;
      gap: 1rem;
  }
  
  #otherProjects{
    display: flex;
      flex-direction: column;
      gap: 1rem;
  }

  /* Footer */
  footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: #fff;
    margin-top: 20px;
  }

  .hidden-img{
    width: 100%; 
    margin-top: 2%;
  }

  .large-img{
    width: 100%; 
    margin-top: 2%;
  }

  .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); 
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;   
    opacity: 0;         
    transition: opacity 0.3s ease;
    cursor: pointer;
  }
  
  .image-container:hover .mask {
    opacity: 1;
  }

  .image-container {
    position: relative;
    display: inline-block;
    width: 100%;
  }

  @media (max-width: 600px) {
    header h1 {
      font-size: 2rem;
    }
  
    nav a {
      display: block;
      margin: 8px 0;
    }

    .grid{
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    #word{
      margin: 2%;
   }

   .mask {
    display: none;
  }

  .large-img{
    width: 150%;
    align-items:left;
    justify-content: left;
  }

  }